*
{
    margin: 0;
    padding: 0;
    color: #fff;
}


@font-face
{
    src: url(fonts/OpenSans-LightItalic.ttf);
    font-family: "LucidaItalic";
}

@font-face
{
    src: url(fonts/pt\ sans.ttf);
    font-family: "PT SANS";
}

@font-face
{
    src: url(fonts/segoe-wp-light.ttf);
    font-family: "SegoeWP";
}

@font-face
{
    src: url(fonts/Asap-Regular.otf);
    font-family: "AsapRegular";
}

@font-face
{
    src: url(fonts/SegoeWP.ttf);
    font-family: "Segoe UI";
}

body
{
    background: url(images/header-bg.png) no-repeat;
    background-size: 100%;
}

.head
{
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
}

.title
{
    display: flex;
}

.logoShadow
{
    margin-top: 28px;
    width: 83px;
    height: 83px;
    position: absolute;
    -moz-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    -o-transform: rotate(44deg); 
    transform: rotate(44deg);
    opacity: 0.5;
}

.title img
{
    margin-top: 28px;
    width: 83px;
    height: 83px;
}

.title h1
{
    letter-spacing: 5.4px;
    margin-top: 47px;
    margin-left: 9px;
    font-size: 39px;
    color: #fff;
    font-family: LucidaItalic;
}

.navBar
{
    margin-top: 71px;
}

.navBar ul
{
    list-style-type: none;
    display: flex;
    box-shadow: -4px -5px rgba(245, 197, 6, 0.271),
                -8px -8px rgba(245, 197, 6, 0.271); 
}
  
  

.navBar ul li
{
    border-left: 1px solid #dcb105;
    height: 41px;
}

.navBar ul li:nth-child(2)
{
    width: 132px;
}

.navBar ul li:nth-child(3)
{
    width: 147px;
}

.navBar ul li:first-child
{
    width: 172px;
    border-left: none;
}

.navBar ul li img
{
    margin-top: 11px;
}

.navBar ul li:nth-child(2) img
{
    margin-left: 14px;
}

.navBar ul li:nth-child(3) img
{
    margin-left: 17px;
}

.navBar ul li:first-child img
{
    margin-left: 39px;
}


.navBar ul li a
{
    letter-spacing: 0.6px;
    font-size: 17px;
    color: #9b7d08;
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
    font-family: SegoeWP;
    font-weight: bold;
}

.navBar ul li:hover
{
    cursor: pointer;
    opacity: 0.9;
}

.navBar ul li a:nth-child(2)
{
    margin-left: 9px;
}

.navBar ul li,
.navBar ul li img,
.navBar ul li a
{
    background: #f5c506;
}

.header
{
    margin-left: 140px;
}

.headerContent
{
    margin-top: 56px;
    margin-left: 10px;
    display: flex;
}

.headerContent video
{
    width: 549;
    height: 327;
}

.headerText
{
    margin-top: 71px;
    font-size: 63px;
    text-align: center;
    font-family: AsapRegular;
}

.headerText p:first-child
{
    margin-left: 34px;
    letter-spacing: 0.5px;
    color: #f5c506;
}

.headerText p:last-child
{
    letter-spacing: 0.7px;
    margin-top: -4px;
    margin-left: 49px;
}  

.rightArrow,
.leftArrow
{
    position: absolute;
    height: 57px;

    background: #f5c506;
    margin-top: -195px;
}

.leftArrow
{
    width: 32px;
    left: 0%;
}

.rightArrow
{
    width: 26px;
    right: 0%;
}

.rightArrow img
{
    margin-top: 18px;
    margin-left: 11px;
}

.leftArrow img
{
    margin-top: 19px;
    margin-left: 8px;
}

.rightArrow:hover,
.leftArrow:hover
{
    opacity: 0.9;
}

.mainArrow
{
    position: absolute;
    margin-left: 242px;
    margin-top: 130px;
    height: 66px;
    width: 66px;
    background: #f5c506;
    border-radius: 32px;
    opacity: 0.8;
}

.mainArrow img
{
    margin-top: 17px;
    margin-left: 26px;
}

.playLine
{
    position: absolute;
    display: flex;
    margin-top: 286px;
}

.allProgress
{
    width: 404px;
    opacity: 0.3;
    border-radius: 4px;
}

.currentProgress
{
    width: 179px;
}

.currentProgress,
.allProgress
{
    height: 12px;
    background: #f5c506;
}

.currentProgress
{
    border-radius: 4px 0 0 4px;
}

.progressBar div
{
    position: absolute;
    margin-left: 24px;
}

.play
{
    height: 27px;
    width: 27px;
    background: rgba(245, 197, 6, 0.4); ;
    margin-left: 29px;
    margin-top: -8px;
}

.play img
{
    height: 17px;
    width: 10px;
    margin-top: 5px;
    margin-left: 10px;
    opacity: 0.5;
}

.volume
{
    margin-left: 459px;
    margin-top: -1px;
}

.features
{
    display: flex;
    background: url(images/feat-bg.png);
    background-size: cover;
    height: 212px;
    margin-top: 69px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,1);
}

.featItem
{
    width: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px rgba(0,0,0,0.1411764705882353) solid;
}


.featImg
{
    display: flex;
    justify-content: center;
}

.featItem:first-child .featImg
{
    margin-top: 62px;
    margin-left: -6px;
}

.featItem:nth-child(2) .featImg
{
    margin-top: 38px;
    margin-left: 22px;
}

.featItem:last-child .featImg
{
    margin-top: 55px;
    margin-left: -20px;
}


.featItem:first-child
{
    margin-left: 140px;
    width: 339px;
}

.featItem:last-child
{
    border-right: 1px rgba(0,0,0,0.1411764705882353) solid;
}

.featItem span
{
    font-size: 27px;
    font-family: SegoeWP;
    color: #000;
    height: 300px;
    letter-spacing: 0.3px;
}

.featItem:first-child span
{
    margin-top: 9px;
    margin-left: 17px;
}

.featItem:nth-child(2) span
{
    margin-top: 13px;
    margin-left: 21px;
}

.featItem:last-child span
{
    margin-top: 8px;
    margin-left: -14px;
}

.featItem:hover .featImg img,
.featItem:hover span
{
    filter: drop-shadow(3px 0px 5px #000); 
}


.lorem-line
{
    width: 896px;
}

.lorem-line input
{
    background: none;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: rgba(236, 158, 3, 0.5);
    border-radius: 25px;
    border: 0px solid rgba(1, 1, 1, 0.04);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 15px;
    width: 197px;
    border-radius: 7px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: hsla(40, 97%, 47%, 0.5);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: hsla(40, 97%, 47%, 0.5);
    border-radius: 25px;
    border: 0px solid rgba(1, 1, 1, 0.04);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    height: 15px;
    width: 197px;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(211, 141, 3, 0.5);
    border: 0px solid rgba(1, 1, 1, 0.04);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(236, 158, 3, 0.5);
    border: 0px solid rgba(1, 1, 1, 0.04);
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid #000000;
    width: 197px;
    border-radius: 7px;
    background: hsla(40, 97%, 47%, 0.5);
    cursor: pointer;
    height: 15px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: hsla(40, 97%, 47%, 0.5);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: hsla(40, 97%, 47%, 0.5);
  }


.lorem-section
{
    background: url(images/lorem-bg.png) no-repeat center;
    background-size: 100%;
    padding-bottom: 17px;
}  
.lorem-block 
{
    width: 1020px;
    margin: auto;
}

.lorem-header
{
    padding-top: 34px;
    font-size: 37.04912px;
    letter-spacing: 0.4px;
    font-family: "PT SANS";
}

.lorem-content
{
    margin-top: 29px;
    display: flex;
    height: 232px;
}

.lorem-content:only-child
{
    height: 238px;
}

.lorem-info 
{
    width: 341px;
    font-size: 29.04912px;
    background: #ec9e03;
}

.lorem-info span
{
    padding: 16px 30px 0px 30px;
    float: left;
    letter-spacing: 0.2px;
}

.lorem-info
{
    display: block;
    font-family: "SegoeWP";
}

.lorem-info a
{
    font-weight: bold;
    font-size: 23px;
    margin-left: 313px;
    cursor: pointer;
    position: relative;
    bottom: 14px;

}

.lorem-info a:hover
{
    opacity: 0.7;
}

.lorem-twitter
{
    padding: 59px 70px 0 83px;
    margin-left: 33px;
    background: #ec9e03;
}

.lorem-twitter a
{
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    top: 7px;
    left: 226px;
}

.lorem-date
{
    background: #ddb101;
    width: 113px;
    height: 86px;
    display: flex;
    flex-direction: column;
}

.date-number
{
    font-family: "SegoeWP";
    font-weight: bold;
    margin-left: 32px;
    font-size: 51px;
    color: rgba(255, 255, 255, 255);
}

.date-month
{
    font-size: 21px;
    font-family: "SegoeWP";
    color: rgba(178, 101, 41, 255);
    position: relative;
    bottom: 12px;
    left: 30px;
    letter-spacing: 1px;
}

.lorem-line
{
    margin-top: 45px;
    margin-left: 73px;
}

.lorem-form 
{
    display: none;
}

.advantages-section
{
    background:url(./images/advantages-bg.png);
    background-size: cover;
}

.advantages-section
{
    padding-top: 36px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.advantages-header span
{
    margin-left: 350px;
    letter-spacing: 0.4px;
    font-family: "PT SANS";
    font-size: 43px;
    color: #f5c506;
}

.advantages-img
{
    margin-left: 138px;
    margin-top: 2px;
}

.advantages-list
{
    margin-left: 80px;
    margin-top: 87px;
    line-height: 22px;
    width: 400px;
}

.advantages-list ul li
{
    list-style-type: none;
    font-size: 50px;
    color: #f5c506;
    height: 49px;
    line-height: 16px;
}

.advantages-list ul li:nth-child(3)
{
    margin-top: 18px;
    list-style-type: none;
    font-size: 50px;
    color: #f5c506;
    height: 49px;
}

.advantages-list ul li::before
{
    content: "";
    display: inline-block;
    border-radius: 50%;
    background: #f5c506;
    width: 14px;
    height: 14px;
}

.advantages-list ul li span
{
    letter-spacing: 1.5px;
    font-size: 22px;
    color: #a3a3a1;
    margin-left: 18px;
}

.footer
{
    height: 64px;
    background: url(./images/advantages-bg.png);
    background-size: contain;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.555);
}

.footer .title
{
    padding-left: 142px;
    padding-top: 8px;
}

.footer .title h1
{
    color: #fff;
    font-size: 29px;
    margin-top: 6px;
    letter-spacing: 3.1px;
}

.footer .title img
{
    margin-top: 0;
    height: 51px;
    width: 51px;
}

@media screen and (max-width: 640px) {
    body {
        background: none;
    }

    .head {
        margin: 0;
        justify-content: unset;
    }

    .logoShadow {
        margin-top: 11px;
        margin-left: 12px;
        width: 40px;
        height: 39px;
    }

    .title {
        background: linear-gradient(#5c5c5c, #444);
        padding-right: 19px;
        padding-bottom: 11px;
    }

    .title img {
        margin-top: 11px;
        margin-left: 12px;
        width: 40px;
        height: 39px;
    }

    .title h1 {
        margin-top: 19px;
        font-size: 19px;
        margin-left: 8px;
        letter-spacing: 2.2px;
    }

    .navBar {
        margin-top: 0;
        width: 100%;
    }

    .navBar ul {
        box-shadow: none; 
        background: #f5c506;
        width: 100%;
    }

    .navBar ul li {
        height: unset;
        padding: 0.8px 0;
        border-right: 1px solid #d7ac05;
    }

    .navBar ul li a {
        font-size: 17px;
        letter-spacing: 2.2px;
    }

    .navBar ul li:first-child a {
        left: -2px;
        bottom: 1px;
    }

    .navBar ul li:nth-child(2) a {
        bottom: 4px;
        left: -6px;
    }

    .navBar ul li:last-child  a{
        bottom: 20px;
        left: 43px;
    }


    .navBar ul li:first-child {
        width: unset;
        border-left: none;
        width: 183px;
    }

    .navBar ul li:nth-child(2) {
        width: 120px;
    }

    .navBar ul li:last-child {
        width: 140px;
    }

    .navBar ul li a {
        position: relative;
    }

    .navBar ul li img {
        margin-top: 11px;
    }

    .navBar ul li:nth-child(2) img {
        margin-left: -4px;
        margin-top: 20px;
        width: 23px;
        height: 22px;
    }

    .navBar ul li:nth-child(3) img {
        margin-left: 13px;
        margin-top: 20px;
        width: 28px;
        height: 22px;
        margin-bottom: -7px;
    }

    .navBar ul li:first-child img {
        margin-left: 24px;
        margin-top: 18px;
        width: 24px;
        height: 22px;
    }
      
    .leftArrow,
    .rightArrow {
        display: none;
    }

    .headerText {
        display: none;
    }

    .advantages-list,
    .lorem-date,
    .lorem-line,
    .lorem-header {
        display: none;
    }
    
    .header {
        margin-left: 0;
    }

    .headerContent {
        margin-top: 0;
        margin-left: 0;
        position: relative;
    }

    .headerContent video {
        display: inline-block;
        width: 100%;
        height: 315px;
        object-fit: cover;
    }

    .mainArrow {
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mainArrow img {
        padding: 16px 26px;
        margin: 0;
    }

    .playLine {
        margin-top: 282px;
    }

    .play {
        margin-left: 82px;
    }

    .features {
        height: 184px;
        margin-top: 7px;
        box-shadow: 0px -5px #adb5aec5,
                    0px -8px 5px #adb5aec5; 
    }
    
    .featItem {
        border: none;    
    }

    .featItem:first-child {
        margin-left: 0;
    }

    .featImg:first-child img {
        width: 89px;
        height: 61px;
    }

    .featImg:nth-child(2) img {
        width: 67px;
        height: 69px;
    }

    .featItem:first-child .featImg img {
        width: 88px;
        height: 61px;
    }

    .featItem:first-child .featImg {
        margin-top: 37px;
        margin-left: -31px;
    }

    .featItem:nth-child(2) .featImg {
        margin-top: 32px;
        margin-left: 33px;
    }

    .featItem:nth-child(2) .featImg img {
        width: 66px;
        height: 69px;
    }

    .featItem:last-child .featImg {
        margin-top: 34px;
        margin-left: 22px;
    }

    .featItem:last-child .featImg img {
        width: 68px;
        height: 69px;
    }

    .featItem span {
        font-size: 23px;
    }

    .featItem:first-child span {
        margin-top: 17px;
        margin-left: -17px;
    }

    .featItem:nth-child(2) span {
        margin-top: 15px;
        margin-left: 37px;
    }

    .featItem:last-child span {
        margin-top: 12px;
        margin-left: 36px;
    }

    .lorem-section {
        margin-top: -28px;
        background: none;
    }

    .lorem-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .lorem-block {
        width: 100%;
    }

    .lorem-info {
        width: 301px;
        height: 232px;
        margin-left: 7px;
    }

    .lorem-info span {
        font-size: 27px;
    }

    .lorem-video {
        width: 300px;
        height: 232px;
        margin-left: 9px;
    }

    .lorem-info a {
        margin-left: 277px;
        bottom: 12px;
    }

    .lorem-twitter {
        margin: 0;
        margin-top: 9px;
        background: #f5c507;
        width: 50%;
        padding: 57px 0 39px 0;
    }

    .lorem-twitter img {
        margin-left: 84px;
        margin-top: 2px;
    }

    .lorem-twitter a{
        display: none;
    }

    .advantages-section {
        margin-top: 214px;
    }

    .lorem-form {
        display: block;
        width: 50%;
        margin-top: 9px;
        background: #f5c507;
    }

    .lorem-form img {
        margin-left: 4px;
    }

    .lorem-form img:first-child {
        margin-top: 23px;
    }

    .lorem-form img:nth-child(2),
    .lorem-form img:nth-child(3) {
        margin-top: 11px;
    }

    .lorem-input input {
        border: none;
        border-radius: 10px 0 0 10px;
        height: 27px;
        margin-top: 10px;
        margin-left: 18px;
        width: 200px;
    }

    .lorem-input button {
        border: none;
        border-radius: 0 10px 10px 0;
        height: 27px;
        margin-left: -4px;
        width: 71px;
        font-size: 16px;
        background: #e3a220;
    }

    .advantages-img {
        margin-left: 28px;
        margin-top: 32px;
    }

    .advantages-header span {
        display: block;
        font-size: 41px;
        margin-top: 5px;
        margin-left: 18px;
        letter-spacing: 1.1px;
    }

    .advantages-section {
        padding-bottom: 48px;
        margin-bottom: -31px;
    }

    .footer .title h1 {
        font-size: 15px;
        margin-left: 10px;
    }

    .footer .title img {
        width: 31px;
        height: 31px;
        margin-left: 1px;
    }

    .footer {
        position: unset;
        margin-top: 31px;
        padding-bottom: 0;
        height: 0;
    }

    .footer .title {
        padding-left: 64px;
        padding-top: 7px;
    }


}
  